.Characters,
.Wrapper {
  max-width: 70vw;
  margin: 0 auto;
}

.Characters {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  padding-bottom: 3rem;
}

.Characters.is-light {
  background-color: var(--color-white);
}

.Characters.is-dark {
  background-color: var(--color-secondary);
}

.Character__container {
  display: flex;
  border-radius: .5em 0 0 .5em;
}

.Character__container.is-dark {
  background-color: #345772;
  box-shadow: 4px 4px 8px rgba(255, 255, 255, .5);
}

.Character__container.is-light {
  background-color: var(--color-third);
  color: var(--color-primary);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .6);
}

.Character__img {
  width: 140px;
  border-radius: .5em 0 0 .5em;
}

.Character__info {
  padding: 1em;
  font-size: .7rem;
  text-align: center;
  width: 100%;
}

.Character__name,
.Character__gender {
  padding-bottom: .3rem;
}

.Character__name {
  font-size: 1.2em;
  margin: 0;
}

.Character__name.is-light,
.Character__gender.is-light {
  background-color: var(--color-third);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.Character__name.is-light {
  color: var(--color-primary);
}

.Character__name.is-dark,
.Character__gender.is-dark {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  background-color: #345772;
}

.Character__name.is-dark {
  color: var(--color-font);
}

.Character__gender {
}

.Character__gender.is-light {
}

.Character__gender.is-dark {
}

.Button__favorite {
  padding: .5rem .6rem;
  font-size: .55rem;
  transition: all .2s;
}

.Button__favorite.is-dark {
  background-color: var(--color-third);
}

.Button__favorite.is-light {
  background-color: var(--color-fourth);
  color: var(--color-font);
}

.Button__favorite.is-light:hover,
.Button__favorite.is-dark:hover {
  color: var(--color-white);
}

.Button__favorite.is-light:hover {
  background-color: var(--color-primary);
}

.Button__favorite.is-dark:hover {
  background-color: var(--color-fourth);
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  margin-bottom: 2rem;
}

.Search {
  display: flex;
  align-items: center;
  width: 15rem;
  height: 2.5rem;
}

.Search__input {
  outline: none;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: .5rem;
  color: var(--color-font);
  font-style: italic;
  width: 80%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .Characters {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .Characters {
    grid-template-columns: repeat(3, 1fr);
  }
}