.Characters {
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  padding-bottom: 3rem;
}

.Characters.is-light {
  background-color: var(--color-white);
}

.Characters.is-dark {
  background-color: var(--color-secondary);
}

.Character__container {
  display: flex;
  border-radius: .5em 0 0 .5em;
}

.Character__container.is-dark {
  background-color: var(--color-third);
  box-shadow: 4px 4px 8px rgba(255, 255, 255, .5);
}

.Character__container.is-light {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .6);
}

.Character__img {
  width: 150px;
  border-radius: .5em 0 0 .5em;
}

.Character__info {
  padding-left: 1em;
  font-size: .8em;
  text-align: center;
  width: 100%;
}

.Character__name {
  font-size: 1.4em;
}

.Character__name.is-light {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.Character__name.is-dark {
  color: var(--color-font);
  background-color: var(--color-white);
}

.Character__species {

}

.Character__status {

}

.Character__gender {

}

@media screen and (min-width: 768px) {
  .Characters {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .Characters {
    grid-template-columns: repeat(3, 1fr);
  }
}