.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  margin-bottom: 3em;
  position: sticky;
  top: 0;
}

.Header.is-dark {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.Header.is-light {
  background-color: var(--color-third);
  color: var(--color-primary);
}

.Header__title {
  font-size: 1.5em;
}

.Button {
  color: #333;
  padding: .5em 1.5em;
  outline: none;
  border-radius: .3em;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  width: 130px;
}

.Button-isDark {
  background-color: var(--color-third);
  color: var(--color-font);
}

.Button-isLight {
  background-color: var(--color-primary);
  color: var(--color-white);
}